[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastai = "*"
fastapi = "*"
uvicorn = "*"
timm = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
